* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

body {
    font-family: "montserrat", sans-serif;
    line-height: 1.6;
    background-color: #4D55CC; /* azul médio */
}

#mastercontent {
    height: auto;
    max-width: auto;
    margin: 0;
    padding: 0;
    background-color: #4D55CC; /* azul médio */
}

#headmenu {
    background-color: #211C84; /* azul escuro */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    position: sticky;
    z-index: 200;
    padding: 1rem 10%;
    width: 100%;
    left: 0;
    top: 0;
}

#headmenuoptions {
    justify-content: start;
    white-space: nowrap;
    list-style: none;
    overflow-x: auto;
    padding: 0;
    display: flex;
    margin: 0;
    gap: 10px;
    scroll-behavior: smooth;
    box-shadow: inset 0 -2px 0 rgba(255, 255, 255, 0.2);
}
.head-options {
    display: inline-block;
    cursor: pointer;
    padding: 8px 12px;
    margin: 0 5px;
    color: #848021;
    transition: background-color 0.3s ease;

}
.head-options a {
    text-decoration: none;
    color: #848021;
}
.head-options:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#cabecalho {
    background-color: #211C84; /* azul escuro */
    color: #ffffff;
    padding: 10px;
    z-index: 100;
    position: relative;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#subcontent {
    position: relative;
    /* background-color: #4D55CC; azul médio */
    background: 	#211C84;
    background: linear-gradient(90deg,rgba(33, 28, 132, 1) 0%, rgba(77, 85, 204, 1) 76%, rgba(122, 115, 209, 1) 100%);
    margin: 0px auto 0 auto;
    max-width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2em;
    color: #ffffff;
    margin: 20px 0 0 20px;
    padding-left: 10px;
    border-left: 5px solid #7A73D1; /* azul claro */
}

.content-subject {
    
    position: relative;
    background-color: #B5A8D5; /* lavanda */
    padding: 20px;
    margin: 0.5% 6%;
    border-radius: 5px;
    height: auto;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.5);
    width: calc(100% - 40px);
    max-width: 90%;
    z-index: 10;
    color: #100e41; /* texto em azul escuro */
    opacity: 0.7;
}
.content-subject p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #100e41; /* azul escuro */
    margin-bottom: 8px;
    margin-top: 5px;
}
.content-subject img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 0;
}

.tributed-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.tributed-list li {
    padding-left: 10px;
    margin-bottom: 45px;
    position: relative;
}
.tributed-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: #7A73D1; /* azul claro */
}
.tributed-name {
    font-weight: bold;
    color: #100e41; /* azul escuro */
    margin-left: 20px;
    padding-left: 10px;
    border-left: 3px solid #7A73D1; /* azul claro */
}
.tributed-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    float: left;
    z-index: 2;
    opacity: 100%;
}

.footer {
    background-color: #211C84; /* azul escuro */
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}
